text {
  max-height: 100px; /* Adjust this to control how much text is shown initially */
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.text.expanded {
  max-height: none;
}
.text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; /* Adjust the height as needed */
  background: linear-gradient(transparent, white);
  display: block;
}

.text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; /* Adjust the height as needed */
  background: linear-gradient(transparent, white);
  display: block;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    .text::after {
        background: linear-gradient(transparent, black);
      }
  }

.text.expanded::after {
  display: none !important;
}


.overflow-y-auto {
  overflow-y: auto;
}